:root {
    --dark-blue: #04142C;
    --medium-blue: #3370d9;
    --light-blue: #73a3f7;
}

.dark-mode {
    --dark-blue: #73a3f7; 
    --medium-blue: #3370d9; 
    --light-blue: #04142C; 
    background-color: var(--light-blue); 
    color: var(--dark-blue); 
}

.dark-mode nav a, .dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4 {
    color: var(--dark-blue);
}

.dark-mode nav a:hover {
    color: white;
}

.dark-mode footer {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    font-weight: bold;
}

.dark-mode .skip a {
    color: var(--dark-blue);
}

.icon-button .fa-moon {
    color: var(--dark-blue);
}

.dark-mode .icon-button .fa-sun {
    color: white;
}

.icon-button {
    background: none;
    border: none;
    color: inherit; 
    cursor: pointer; 
    padding: 0; 
    margin: 0; 
}

.icon-button:hover {
    color: #3370d9; 
}

body {
    font-family: 'Poppins', sans-serif;
}

.nav-container {
    width: 100%;
    margin: 0 auto; 
    display: inline;
}

.logo {
    float: left;
    width: 20%;
    padding-top: 30px;
    padding-left: 20px;
}

.intro-container img {
    width: auto;
    border-radius: 170px;
    border: 7px solid var(--dark-blue);
} 

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding-right: 50px;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 70px;
    position: relative;
}

nav a {
    color: var(--dark-blue);
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: var(--medium-blue);
}

nav a::after {
    content: '';
    display: block;
    height: 4px;
    background-color: var(--medium-blue);
    position: absolute;
    bottom: -10px;
    width: 0;
    border-radius: 10px;
    transition: all ease-in-out 250ms;
}

nav a:hover::after {
    width: 100%;
}

.active-page {
    color: var(--medium-blue);
}

.active-page::after {
    content: '';
    display: block;
    height: 4px;
    background-color: var(--medium-blue);
    position: absolute;
    bottom: -10px;
    width: 100%;
    border-radius: 10px;
}


h1 {
    color: var(--dark-blue);
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: var(--dark-blue);
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

h3 {
    color: var(--dark-blue);
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

h4 {
    color: var(--dark-blue);
    font-size: 1.2em;
    text-align: center;
    /* margin-top: 20px; */
}

.skip a{
    position: absolute;
    top: -40px;
    padding: 10px;
}

.skip a:focus{
    position: absolute;
    top: 20px
}

.intro-container {
    display: flex;
    padding: 90px 20px 20px 20px; /* top right bottom left */
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
}

.intro-small {
    display: auto;
    width: 60%;
    padding-right: 50px;
}

.intro-small p {
    padding: 20px 40px 0 40px;
}

.p-michigan {
    font-style: italic;
}

footer {
    background-color: var(--dark-blue);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-top: 3px;
}

.copyright {
    padding-left: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.social-media {
    padding-right: 20px;
}

.dark-mode .social-media a {
    color: var(--light-blue);
}

.social-media a {
    color: white;
    font-size: 1.5em;
    padding-right: 10px;
    text-decoration: none;
}

.experience-container h1, .about-container h1 {
    padding: 40px 0 0 60px;
}

.experience-container h2, .about-container h2 {
    padding-top: 20px;
}

.experience-container h2::before, .about-container h2::before {
    content: '';
    display: inline-block;
    height: 4px;
    background-color: var(--medium-blue);
    position: relative;
    width: 30%;
    border-radius: 10px;
    margin: 0 20px 5px 20px;
}

.experience-container h2::after, .about-container h2::after {
    content: '';
    display: inline-block;
    height: 4px;
    background-color: var(--medium-blue);
    position: relative;
    width: 30%;
    border-radius: 10px;
    margin: 0 20px 5px 20px;
}

.experience-container h4 {
    padding: 0 20px 10px 20px; /* top right bottom left */
    line-height: 2;
    letter-spacing: 1px;
    text-align: left;
    font-style: italic;
}

.experience-container, .about-container {
    padding-bottom: 100px;
}

.front-end-dev, .back-end-dev, .testing, .ios-dev, .course-projects, .leadership {
    display: flex;    
}

.front-end-dev img {
    width: 40%;
    float: right;
    margin: 50px 50px 20px 40px; /* top right bottom left */
    border-radius: 10px;
}

.back-end-dev-img {
    width: 50%;
    height: 50%;
    float: right;
    margin: 50px 40px 20px 50px;
}

.back-end-dev-img img {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    float: right;
    margin: 20px 100px 0 40px;
}

.testing-img img {
    width: 50%;
    border-radius: 10px;
    float: right;
    margin: 100px 130px 0 40px;
}

.front-end-dev-text, .back-end-dev-text, .testing-text, .ios-dev-text, .course-projects-text, .leadership-text {
    width: 60%;
    padding: 20px 40px 0 40px;
}

.front-end-dev-text p, .back-end-dev-text p, .testing-text p, .ios-dev-text p, .course-projects-text p, .leadership-text p, .about-container p {
    padding: 20px 20px 0 20px; /* top right bottom left */
    line-height: 2;
    letter-spacing: 1px;
    text-align: left;
}

.front-end-dev-text h3, .back-end-dev-text h3, .testing-text h3, .ios-dev-text h3, .course-projects-text h3, .leadership-text h3, .about-container h3 {
    padding: 20px 20px 0 20px; /* top right bottom left */
    line-height: 2;
    letter-spacing: 1px;
    text-align: left;
    font-weight: bold;
}

.front-end-dev-text ul, .ios-dev-text ul, .course-projects-text ul {
    padding: 0 20px 0 60px; /* top right bottom left */
    line-height: 2;
    letter-spacing: 1px;
    text-align: left;
}

.front-end-dev-text ul li, .ios-dev-text ul li, .course-projects-text ul li {
    padding: 0 0 0 10px; /* top right bottom left */
    list-style-type: square;
}

.keyword {
    font-weight: bold;
    color: var(--dark-blue);
}

.italicize {
    font-style: italic;
}

.ios-dev-img {
    width: 50%;
    height: 50%;
    float: right;
    margin: 50px 40px 20px 50px;
}

.ios-dev-img img {
    width: 50%;
    height: 50%;
    float: right;
    margin: 20px 100px 0 40px;
    border-radius: 10px;
}

.leadership-img, .course-projects-img {
    width: 50%;
    height: 50%;
    float: right;
    margin: 50px 40px 20px 50px;
}

.leadership-img img, .course-projects-img img {
    width: 50%;
    height: 50%;
    float: right;
    margin: 20px 100px 0 40px;
}

.intro-text {
    padding: 20px 40px 20px 40px;
    display: flex;
}

.intro-text img {
    width: 30%;
    border-radius: 200px;
    border: 7px solid var(--dark-blue);
}

.intro-text p {
    padding: 0 0 0 60px;
    display: block;
    margin: auto; 
}

.genre-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.genre-grid img {
    padding-top: 10px;
    margin: auto;
    width: 60%;
    border-radius: 40px;
}

.genre-grid img:hover {
    transform: scale(1.05);
    transition: all 0.25s ease-in-out;
}

.music-text, .read-text {
    padding: 20px 40px 0 40px;
}

.book-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.book-grid img {
    padding-top: 10px;
    margin: auto;
    width: 60%;
}

#main-list li {
    list-style-type: disc;
}

#sub-list li {
    list-style-type: circle;
    margin-left: 60px; 
}
